.btn {
  padding: 10px 30px;
  @include border-top-radius(2px);
  @include border-right-radius(2px);
  @include border-bottom-radius(2px);
  @include border-left-radius(2px);
  border: 2px solid;
  .btn-thin {
    border-color: #fff;
  }
}

a.btn {
  color: #fff;
}
