footer {
  width: 100%;
  background: #000000;
  padding: 20px 0;
  color: #cbcbcb;
  text-align:center;
  a {
    svg {
      fill: #de4f4f;
    }
    &:hover {
      svg {
        fill: #fff;
      }
    }
  }
  .github {
    margin-top: 16px;
    a {
      text-decoration: none;
      &:hover {
        text-decoration:none;
      }
    }
  }
}
