header {
  text-align: center;
  min-height: 500px;
  position: relative;
  .centered-v {
    margin: auto;
    position: absolute;
    height: 110px;
    top: 0; left: 0; bottom: 0; right: 0;
  }
  h5 {
    color: #343434;
    max-width: 430px;
    margin: 0 auto;
  }
}
