body, html {
  font-size: 13px;
  color:#fff;
}

a {
  @include transition(all .5s);
  svg {
    @include transition(all .5s);
  }
  &:hover {
    @include transition(all .5s);
    svg {
      @include transition(all .5s);
    }
  }
}

h1 {
  font-size: 6rem;
  margin: 0 0;
}
h4 {
  font-size: 3rem;
}

.inner {
  i {
    font-size: 34px;
    padding: 4px 10px;
    fill: #fff;
    color: #fff;
  }
}
