#createEntityForm {
  .checkbox {
    width: 30%;
    float: left;
    margin-top:4px;
  }
  .control-label {
    display: block;
    width: 100%;
    clear: both;
  }
  .form-group {
    clear: both;
  }
  .radio + .radio, .checkbox + .checkbox {
    margin-top: 4px;
  }
}

// Color Style override
input[type="color"] {
  max-width: 100px;
  padding: 2px;
}

body {
  #orion-admin {
    color: #000;
    background: #fff;
  }
}
