<template name="work">
<section class="work" name="work">
  <div class="controls">
    <label>Filter:</label>

    <button class="filter" data-filter="all">All</button>
    <button class="filter php" data-filter=".php">PHP</button>
    <button class="filter node" data-filter=".node">Node</button>
    <button class="filter rails" data-filter=".rails">Ruby on Rails</button>

  </div>
  <div id="work" class="mixitup">
    <div class="mix php wordpress github" data-myorder="1">
      <div class="inner">
        <div class="content">
          <h4>TestRocker</h4>
          <a class="btn btn-thin" href="">Visit Project</a><br />
          <div class="tools">
            <i class="devicon-git-plain-wordmark"></i>
            <i class="devicon-grunt-plain-wordmark"></i>
            <i class="devicon-javascript-plain"></i>
            <i class="devicon-laravel-plain"></i>
            <i class="icon-php-alt"></i>
            <i class="devicon-mysql-plain"></i>
            <i class="devicon-less-plain-wordmark"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="mix php laravel" data-myorder="2"></div>
    <div class="mix php wordpress themosis" data-myorder="3"></div>
    <div class="mix php wordpress" data-myorder="4"></div>
    <div class="mix rails ruby-on-rails solr" data-myorder="5"></div>
    <div class="mix node express angular" data-myorder="6"></div>
    <div class="mix node keystonejs" data-myorder="7"></div>
    <div class="mix node meteor github" data-myorder="8"></div>

    <div class="gap"></div>
    <div class="gap"></div>
  </div>
</section>
</template>
