<template name="work">
  <section class="work" name="work">
    <!-- <div class="controls">
      <label>Filter:</label>

      <button class="filter" data-filter="all">All</button>
      <button class="filter php" data-filter=".php"><i class="icon-php-alt"></i></button>
      <button class="filter node" data-filter=".node">Node</button>
      <button class="filter rails" data-filter=".rails"><i class="devicon-rails-plain"></i></button>
    </div> -->
    <div id="work" class="mixitup">
      {{#each works}}
        {{> workBlock }}
      {{/each}}

      <div class="gap"></div>
      <div class="gap"></div>
    </div>
  </section>
</template>

<template name="workBlock">
  <div class="mix {{ tools languesUsed }}" style="background: url({{ image.link }}) no-repeat center center; background-size:cover;">
    <div class="overlay"></div>
    <div class="inner">
      <div class="content">
        <div class="align-center">
          <a href="{{ pathFor 'workSingle' }}" class="btn btn-thin"><h2>{{{projectName}}}</h2></a>
          <h5>{{projectRole}}</h5>
          <div class="tools">
            <!-- {{{ icons toolsUsed }}} -->
          </div>
        </div>
      </div>
    </div>
  </div>

</template>
