<template name="work">
  <section class="work" name="work">
    <div class="controls">
      <label>Filter:</label>

      <button class="filter" data-filter="all">All</button>
      <button class="filter php" data-filter=".php">PHP</button>
      <button class="filter node" data-filter=".node">Node</button>
      <button class="filter rails" data-filter=".rails">Ruby on Rails</button>
    </div>
    {{#each works}}
      {{> workBlock }}
    {{/each}}
  </section>
</template>

<template name="workBlock">
  <div id="work" class="mixitup">
    <div class="mix php wordpress github" data-myorder="1">
      <div class="inner">
        <div class="content">
          <div class="align-center">
            <a href="" class="btn btn-thin"><h4>TestRocker</h4></a>
            <div class="tools">
              <i class="devicon-git-plain-wordmark"></i>
              <i class="devicon-grunt-plain-wordmark"></i>
              <i class="devicon-javascript-plain"></i>
              <i class="devicon-laravel-plain"></i>
              <i class="icon-php-alt"></i>
              <i class="fa fa-cc-paypal"></i>
              <i class="devicon-mysql-plain"></i>
              <i class="devicon-less-plain-wordmark"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mix rails ruby-on-rails" data-myorder="2">
      <div class="inner">
        <div class="content">
          <div class="align-center">
            <a href="" class="btn btn-thin"><h4>Ellevate</h4></a>
            <div class="tools">
              <i class="devicon-git-plain-wordmark"></i>
              <i class="devicon-grunt-plain-wordmark"></i>
              <i class="devicon-javascript-plain"></i>
              <i class="devicon-rails-plain"></i>
              <i class="fa fa-cc-stripe"></i>
              <i class="devicon-ruby-plain"></i>
              <i class="devicon-postgresql-plain"></i>
              <i class="devicon-sass-original"></i>
              <i class="icon-redis"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mix php wordpress themosis" data-myorder="3">
        <div class="inner">
          <div class="content">
            <div class="align-center">
              <a href="" class="btn btn-thin"><h4>DattoBackup</h4></a>
                <div class="tools">
                <i class="devicon-git-plain-wordmark"></i>
                <i class="devicon-grunt-plain-wordmark"></i>
                <i class="devicon-javascript-plain"></i>
                <i class="icon-php-alt"></i>
                <i class="devicon-wordpress-plain"></i>
                <i class="devicon-mysql-plain"></i>
                <i class="devicon-less-plain-wordmark"></i>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="mix php wordpress" data-myorder="4"></div>
    <div class="mix rails ruby-on-rails solr" data-myorder="5"></div>
    <div class="mix node express angular" data-myorder="6"></div>
    <div class="mix node keystonejs" data-myorder="7"></div>
    <div class="mix node meteor github" data-myorder="8"></div>

    <div class="gap"></div>
    <div class="gap"></div>
  </div>
</template>

<template name="workItem">

</template>
