<template name="base">

<meta http-equiv="X-UA-Compatible" content="IE=9" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100' rel='stylesheet' type='text/css'>

<div id="particle" class="site">
	{{> header }}
<!-- 	{{> home }}
{{> services }}
{{> about }}
{{> gallery }}
{{> testimonials }}
{{> pricing }}
{{> contact }}
{{> footer }} -->

<div class="controls">
  <label>Filter:</label>

  <button class="filter" data-filter="all">All</button>
  <button class="filter" data-filter=".php">PHP</button>
  <button class="filter" data-filter=".node">Node</button>
  <button class="filter" data-filter=".rails">Ruby on Rails</button>

  <label>Sort:</label>

  <button class="sort" data-sort="myorder:asc">Asc</button>
  <button class="sort" data-sort="myorder:desc">Desc</button>
</div>
<div id="work" class="container">
  <div class="mix php wordpress github" data-myorder="1"></div>
  <div class="mix php laravel" data-myorder="2"></div>
  <div class="mix php wordpress themosis" data-myorder="3"></div>
  <div class="mix php wordpress" data-myorder="4"></div>
  <div class="mix rails ruby-on-rails solr" data-myorder="5"></div>
  <div class="mix node express angular" data-myorder="6"></div>
  <div class="mix node keystonejs" data-myorder="7"></div>
  <div class="mix node meteor github" data-myorder="8"></div>

  <div class="gap"></div>
  <div class="gap"></div>
</div>
</div>

</template>
