<template name="adminFilesShow">
	<h3>
		File TEST
	</h3>
	<hr>

	<p><b>Name:</b></p>
	<p>{{ file.name }}</p>
	<br>

	<p><b>Folder:</b></p>
	<p><span class="label label-primary">{{ file.folder }}</span></p>
	<br>

	<p><b>Url:</b></p>
	<p><a href="{{ file.url }}" target="_BLANK">{{ file.url }}</a></p>
	<br>

	<p><b>Uploaded:</b></p>
	<p>{{ file.createdAt }}</p>
	<br>

	<p>
		<a class="btn btn-primary" href="{{ pathFor 'adminFilesIndex' }}">Back</a>
		{{# if file.canRemove }}
			<a class="btn btn-danger" href="{{ pathFor 'adminFilesDelete' _id=file._id }}">Delete</a>
		{{/ if }}
	</p>
</template>
